/************************start clinic doctors***********************/


#clinic-doctors{min-height: 600px;
	background-color: #eee;
	padding-top: 30px;

}

.head{
	text-align: center;
	font-weight: 600;
	padding-bottom:30px;
	color:#4dcdc3;
	margin-bottom: 30px;
	letter-spacing:2px;
	
}
 .head span{
	color: #697785;
	padding-bottom: 10px;
}

 #doctors  img{
	width: 250px;
	height: 320px;
	border-radius: 15px;
	
}
 #doctors h3{
	margin-top :15px;
	margin-bottom: 15px;
	color:#697785;
	
}
.contain{
  position: relative;
	margin-bottom: 20px;
    margin-left:50px;
  
 
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.lay {
  position: absolute;
  top: 0;
  bottom: 0;
  left:24px;
  right: 0;
  height: 320px;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
    border-radius: 15px;
   
}

.contain:hover .lay{
  opacity: .8;
}

.tex {
  color: white;
  font-size: 18px;
  position: absolute;
    top: 50%;
    left: 0px;
  
  
}

.tex ul li{
    display: inline-block;
      float:right;
    margin:0px 10px
}
.tex ul li a {
    color:#fff;
}
.tex ul li a:hover {
    color:#4dcdc3;;
}


.details h6{
    color: #697785
}
.details p{
    color: #697785
}

@media(max-width:767px){
	.contain{
			margin-left: 0px;
   

	}
}
@media(min-width:768px) and (max-width:991px)
{
    .contain{
	margin-left: 0px;
	}
}

